abderrahimfactory/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "abderrahimfactory"
		},
		"AzureDatabricksTransformation_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'AzureDatabricksTransformation'"
		},
		"AzureDatabricksTransformation_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "0925-075725-69tc6flm"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/AzureDatabricksTransformation')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-1882600856783799.19.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('AzureDatabricksTransformation_accessToken')]"
					},
					"existingClusterId": "[parameters('AzureDatabricksTransformation_properties_typeProperties_existingClusterId')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Automatisation')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "transformation",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Repos/aelouardy.ext@simplonformations.onmicrosoft.com/integration-et-gestion-des-donnees-de-transport-public-avec-azure/ETLDATABRICKS/Transformation"
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricksTransformation",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "NotebookSaveinpreprocessed",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "transformation",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Repos/aelouardy.ext@simplonformations.onmicrosoft.com/integration-et-gestion-des-donnees-de-transport-public-avec-azure/ETLDATABRICKS/saveInProcessed"
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricksTransformation",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDatabricksTransformation')]"
			]
		}
	]
}